section{
    width: auto;
    margin:  auto;
  }
  .container {
    padding: 0;
    /* background-color: rgb(24, 179, 179); */
  }
  #indexCarouselBlock {
    height: 500px;
    /* margin-top: 50px; */
  }
  #indexCarousel{
    /* width: 40px; */
    display: flex;
  justify-content: center;
  }
  .index-indicators {
    flex-direction: column;
    justify-content: center;
    align-items: end;
    margin: 0;
  }
  .carousel-indicators [data-bs-target]{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-indent:0;
}
  .index-inner{
    width: 400px;
    height: 100vh;
  }
  .carousel-caption{
    right: 0;
    left:0;
  }
  .indexCarousel-img{
    width: 100%;
    background-image: radial-gradient(#ffffff79 0%, transparent 100%);
  }
  .index-inner img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    
  }
  .indexBtnL, .indexBtnR{
    display: none;
  }
  .topcard{
    border-radius: 20px;
    margin-top: 10px;
    width: 396px; 
    height: 688px;
  }
  .bottomcard{
    border-radius: 20px;
    margin-top: 10px;
    width: 396px; 
    height: 688px;
    /* position: "static"; */
  }
  .card-img-top{
    border-radius: 20px 20px 0 0 ; 
    width: 100%; 
    height: 70%; 
    object-fit: cover;
  }
.hot-text{
    width: 100%;
    height: 60px;
    text-align: center;
    line-height: 60px;
    margin: 10px 0 0 0;
}
.hotcard-body{
    margin-top: -70px;
      padding: 0;
      gap: 45px;
      height: 250px;
  }

.pr-midden{
    width: 100%;
    height: 240px;
}
.more-block{
  width: 100%;
  height: auto;
  gap: 215px;
  align-self: stretch;
}
.pr-min-img{
    width: 150px;
    height: 150px;
    border-radius: 50% ;
    background-color: antiquewhite;
}
.pr-min-img img{
    border-radius: 50%;
}
.pr-min-text h2{
  margin: 0;
}
.pr-more-bt{
    width: 77px;
    height: 24px;
    line-height: 24px;
    padding: 0;
}
.pr-more-text{
    margin: 0;
}
.rankA{
  width: 85px;
  height: 35px;
  border-bottom: 2px solid black;
  text-align:center;
  /* margin: 0; */
}

.rank-card{
  width: 300px;
  height: 220px;
  border: solid 1px black;
  border-radius: 20px;
}
.rank-img{
  width: 160px;
  height: 100%;
  border-radius: 20px 0  0 20px;
}
.rank-img img{
  border-radius: 20px 0  0 20px;
}
.rank-text-group{
  width: 100px;
  height: 100%;
}
#rankCarousel{
  width: 100%;
  display: flex;
  justify-content: center;
}
.rankCarouselInner{
  width: 300px;
}

@media (min-width: 1440px) {
    .index-inner {
        width: 100%;
        /* height: ;
         */
    }


    .topcard{
        /* border-radius: 20px;
        margin-top: 10px; */
        width: 626px; 
        height: 833px;
      }
      .hotcard-body{
        margin-top: -60px;
        height: 220px;
      }
}