* {
  box-sizing: border-box;
  font-family: "Noto Sans TC", "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
}

ul,
li,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}


.orderList_session {
  display: flex;
  justify-content: center;
  margin: 100px 0;
  height: auto;
}

.part_right {
  width: 75%;
}


/* order */
.part_left {
  width: 25%;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}


.ords_list_select {
  margin: 0 0 16px 0;
  height: 50px;
}

.ords_list_select a {
  color: inherit;
  padding: 0;
  margin: 0;
}


/* 手機版 */
@media (max-width: 768px) {
  .orderList_session {
    margin-top:90px;
    display: block
  }

  .part_left {
    width: 100%;
  }

  .part_right {
    width: 100%;
  }
.ords_list_select{
  margin-top: 10px;
  /* 设置为行，内容将水平排列 */
  overflow: scroll;
  width:auto;
  flex-wrap: nowrap;
  /* 如果内容超出容器宽度，添加水平滚动条 */
}
   .ords_list_select a {
  color: inherit;
  width:90px;
}
}