.container {
	max-width: 600px !important;
}

.custom-heading {
	font-size: 28px;
	/* 标题字体大小 */
	font-weight: 600;
}

.custom-subheading {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 20px;
}

/* 回到登入或註冊帳號顏色為 #EEA68D */

.custom-subheading span {
	color: #EEA68D
}

/* 自定义输入框聚焦样式 */
input:focus {
	border-color: #EEA68D !important;
	/* 移除默认的聚焦样式 */
	box-shadow: 0 0 0 0.1rem #EEA68D !important;
	/* 自定义聚焦时的边阴影，这里使用淡橘色 */
}

.form-control {
	border:1px solid rgb(157, 145, 145);
	
	background-color:rgba(var(--bs-bgColor-rgb), var(--bs-bg-opacity)) ;
	/* background-color: #f8f9fa; */
	/* 设置输入框背景颜色为浅灰色 */
}

/* 按钮悬停时的样式 */
.btn-primary:hover {
	background-color: black !important;
	color: white !important;
	border-color: black !important;
}


@media screen and (min-width: 1440px) {
	.container {
			max-width: 700px !important;
	}

}