body {
	font-family: Arial, sans-serif;
}

.secondarySidebar {
	display: flex;
	font-size: 14px;
}

.secondarySidebar div:nth-child(1) {
	font-weight: 600;
}

.secondarySidebar a:nth-child(1) {
	text-decoration: none;
	color:black;
}

.secondarySidebar div:nth-child(2) {
	font-weight: 600;
}

.secondarySidebar div:nth-child(3) {
	color:rgb(131, 128, 128)
}