/*!
*    ______ _       _   _
*    |  ____| |     | | (_)
*    | |__  | | __ _| |_ _  ___ ___  _ __
*    |  __| | |/ _` | __| |/ __/ _ \| '_ \
*    | |    | | (_| | |_| | (_| (_) | | | |
*    |_|    |_|\__,_|\__|_|\___\___/|_| |_|
*
*         https://www.flaticon.com
*/

@font-face {
    font-family: "flaticon_april";
    src: url("./flaticon_april.woff2?f0fcdd2e9d67c63b22e48be8f88a3a86") format("woff2"),
url("./flaticon_april.woff?f0fcdd2e9d67c63b22e48be8f88a3a86") format("woff"),
url("./flaticon_april.eot?f0fcdd2e9d67c63b22e48be8f88a3a86#iefix") format("embedded-opentype"),
url("./flaticon_april.ttf?f0fcdd2e9d67c63b22e48be8f88a3a86") format("truetype"),
url("./flaticon_april.svg?f0fcdd2e9d67c63b22e48be8f88a3a86#flaticon_april") format("svg")
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_april !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-add-to-cart:before {
    content: "\f101";
}
.flaticon-star-nofill:before {
    content: "\f102";
}
.flaticon-star-half-filled:before {
    content: "\f103";
}
.flaticon-sort-asn:before {
    content: "\f104";
}
.flaticon-star-fill:before {
    content: "\f105";
}
.flaticon-sort:before {
    content: "\f106";
}
.flaticon-right:before {
    content: "\f107";
}
.flaticon-loud-speaker:before {
    content: "\f108";
}
.flaticon-previous:before {
    content: "\f109";
}
.flaticon-sale-label:before {
    content: "\f10a";
}
.flaticon-left:before {
    content: "\f10b";
}
.flaticon-next:before {
    content: "\f10c";
}
.flaticon-thumbs-up:before {
    content: "\f10d";
}
.flaticon-images:before {
    content: "\f10e";
}
.flaticon-upload:before {
    content: "\f10f";
}
.flaticon-heart:before {
    content: "\f110";
}
.flaticon-plus:before {
    content: "\f111";
}
.flaticon-down-arrow:before {
    content: "\f112";
}
.flaticon-delivery-truck:before {
    content: "\f113";
}

