@font-face {
  font-family: "IBM Plex Sans TC";
  src: url("/fonts/IBMPlexSansTC-Regular.woff2") format("woff2"),
    url("/fonts/IBMPlexSansTC-Regular.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}
